@{
    ViewData["Title"] = "Main";
    // ああでも、タイトルとロゴ考えたらここ変えなきゃダメか？　いや、飛ばなきゃいいんだから問題ないか
    // スマホのサイズをはかってフルサイズへ。アプリ化するのも・・・まあできないことはないんだが
}
@section Scripts {
    <script src="~/js/dist/Home.js" defer></script>
    <link rel="stylesheet" href="~/css/Home/Index.css" asp-append-version="true" />
}


<div id="topTab">
    <div>ここにタブ</div>
</div>
<div id="leftPain">
    <div>ここが左ペイン</div>
</div>
<div id="main">
    <div>ここにテンプレートを埋め込む</div>
</div>