#main {
    position: relative;
    margin-top: 20%;
}
    #main div {
        text-align: center;
    }

#qr img {
    margin:auto;
}

.comingsoon {
    font-size: 20px;
    color: gray;
    margin-top: 10%;
}
    .comingsoon h1 {
        text-align: center;
    }