<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="VoiceVoxProxy" stopProcessing="true">
					<match url="^(.*)" />
					<action type="Rewrite" url="http://localhost:50021/{R:1}" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>